RASD/live.main.tex
RASD/live.main.log
RASD/main.aux
RASD/main.bbl
RASD/main.bib
RASD/main.blg
RASD/main.bib
RASD/main.blg
RASD/main.fdb_latexmk
RASD/main.fls
RASD/main.lof
RASD/main.log
RASD/main.lot
RASD/main.out
RASD/main.pdf
RASD/main.synctex.gz
RASD/main.toc
DD/live.main.tex
DD/live.main.log
DD/main.aux
DD/main.bbl
DD/main.bib
DD/main.blg
DD/main.bib
DD/main.blg
DD/main.fdb_latexmk
DD/main.fls
DD/main.lof
DD/main.log
DD/main.lot
DD/main.out
DD/main.pdf
DD/main.synctex.gz
DD/main.toc
