RASD/live.main.tex
RASD/live.main.log
RASD/main.aux
RASD/main.bbl
RASD/main.bib
RASD/main.blg
RASD/main.bib
RASD/main.blg
RASD/main.fdb_latexmk
RASD/main.fls
RASD/main.lof
RASD/main.log
RASD/main.lot
RASD/main.out
RASD/main.pdf
RASD/main.synctex.gz
RASD/main.toc
